{% extends 'base.html' %}
{% block body %}
<div id="loginStatus">
    Logged in as {{ username }}
</div>
<div id="pageContent">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-2"></div>
            <div class="col">
                <h3 style="text-decoration: underline">Account Information</h3>
                <div id="usernameAndProfile">
                    <img src="{{ pfp }}" alt="{{ username }}" style="height: 100px; width: 100px; border-style: solid;">
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>
{% endblock %}